@model WS.Models.ClinicaPregressa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClinicaPregressa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoencasInfecciosas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoencasInfecciosas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cirurgias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cirurgias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransfusaoSangue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransfusaoSangue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicamentosContinuo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicamentosContinuo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MyProperty">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
